*{
    padding : 0;
    margin: 0;
       
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: url(Login-Page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.box {
    width: 100px;
    height: 100px;
    
    float: right;
}

.navigation {
    width: 300px;
    padding: 20px;
     /* Positionierung anpassen */
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  
.navigation input[type="text"],
.navigation input[type="password"] {
    width: 100%;
    padding: 11px;
    margin-bottom: 10px;
  }
  
.navigation button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }