*{
    padding : 0;
    margin: 0;
       
  }
  
  html{
    height: 100%;
  }
  
  body{
    height: 100%;
    background-image: url(static/images/register-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  

  
  .singUp {
    width: 300px;
    padding: 20px;
    
     /* Positionierung anpassen */
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .signUp h1{
    color:white;
  }