body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

h1 {
  width: 300px;
  background-color: #fff;
  padding: 20px;
   /* Positionierung anpassen */
   position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
}