<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App</title>
  </head>
  <body>
    <h1>Quiz App</h1>
    <h2>{{ question.question }}</h2>
    <form action="/gameloop/{{ question.id }}" method="POST">
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
      {% for option in question.options %}
        <input type="radio" name="answer" value="{{ loop.index }}" required> {{ option }}<br>
      {% endfor %}
      <input type="hidden" name="question_index" value="{{ question_index }}">
      <input type="submit" value="Antworten">
    </form>
  </body>
</html>