<!DOCTYPE html>
<html>
<head>
    <title>General Knowledge Quiz</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="quiz-container">
            <h1>General Knowledge Quiz</h1>
            {% if question %}
            <form action="/gkquiz" method="post">
                <h3>{{ question[1] }}</h3>
                <ul class="answer-options">
                    <li>
                        <label class="answer-option">
                            <input type="radio" id="option1" name="answer" value="1">
                            <span class="custom-radio"></span> 
                            {{ question[2] }}
                        </label>
                    </li>
                    <li>
                        <label class="answer-option">
                            <input type="radio" id="option2" name="answer" value="2">
                            <span class="custom-radio"></span> 
                            {{ question[3] }}
                        </label>
                    </li>
                    <li>
                        <label class="answer-option">
                            <input type="radio" id="option3" name="answer" value="3">
                            <span class="custom-radio"></span> 
                            {{ question[4] }}
                        </label>
                    </li>
                    <li>
                        <label class="answer-option">
                            <input type="radio" id="option4" name="answer" value="4">
                            <span class="custom-radio"></span> 
                            {{ question[5] }}
                        </label>
                    </li>
                </ul>
                <input type="hidden" name="question_id" value="{{ question[0] }}">
                <button type="submit" class="submit-button">Answer</button>
            </form>
            {% if message %}
            <div class="message {% if correct %}correct{% else %}incorrect{% endif %}">
                <p>{{ message }}</p>
            </div>
            {% endif %}
            <a href="/homepage" class="homepage-link">Zurück zur Homepage</a> <!--Link zur Homepage -->
            {% else %}
            <p>Congratulations! You have completed the General Knowledge Quiz.</p>
            <a href="/homepage">Go back to the homepage</a>
            {% endif %}
        </div>
</body>
</html>
