<!DOCTYPE html>
<html>
<head>
    <title>Quiz Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css"> 
</head>
<body>
    <div class="container"> 
        <h1>Welcome to the Quiz Homepage</h1>
        <p>Choose a quiz to start:</p>
        <form action="/gkquiz" method="get">
            <button type="submit">General Knowledge Quiz</button>
        </form>
        <form action="/quiz" method="get">
            <button type="submit">Rush Quiz</button>
        </form>
    </div>
</body>
</html>
