<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="">
     <div class="Logo">
        <h1>CODE CRUSADERS - QUIZAPP</h1>
     </div>
</head>

<body>
    <div class="Menu">
        <div>
            <form action="{{ url_for('gameloop', question_id=1) }}" method="POST">
                <button type="submit">Start Game</button>
            </form>
        </div>
        <div>
            <a href="">Highscores</a>
        </div>
        <div>
            <a href="">Konto Infos</a>
        </div>
    </div>

</body>


</html>