<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
        
    </head>

    <body>
    
        <div class="navigation">
            <div class="login-container">
        
                <h1>
                    <form action="{{ url_for('logIn') }}" method="POST">
                        {{ form.csrf_token }}
                    
                        <div>
                            <label>Username:</label>
                            {{ form.username }}
                        </div>
                        <div>
                            <label>Password:</label>
                            {{ form.password }}
                        </div>

                        <input type="submit" value="Log In">

                    <div>
                        <a href="{{ url_for('signup') }}" class="signup-link">Sign Up</a>
                    </div>
                    
                    </form>
                </h1>
            </div>
        </div>
    </body>    
    
</html>