<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/signUp.css">
</head>

<body>
    <div class="signUp">
        <header>
            <h1>Sign Up</h1>
        </header>
        
        <h1>
            <form action="{{ url_for('signup') }}" method="POST">
                {{ form.csrf_token }}
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password }}<br>
                
            <input type="submit" value="Sign Up">
        
        </form>
        </h1>
    </div>
</body>
</html>
